<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scientific Calculator</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>


	<div class="container">
		<nav class="breadcrumb is-right mt-6" aria-label="breadcrumbs">
			<ul>
			  <li class="is-active"><a class="has-text-white" href="#">home</a></li>
			  <li><a class="has-text-white" href="#">guide</a></li>
			  <li><a class="has-text-white" href="#">useful links</a></li>
			</ul>
		</nav>
		
		

		<section class="section is-medium has-text-white">
			<div class="columns is-centered">
				
				<div class="column is-narrow">
					<h1 class="title has-text-white">
						Scientific Calculator
					</h1>
					<span></span>
					<h2 class="subtitle has-text-white">
					A small assortment of higher level functions made using newton-api.
					</h2>
				</div>
				
			</div>
		</section>


		
		<div class="columns is-mobile">
			<div class="column is-one-quarter">
				<div class="dropdown is-hoverable is-pulled-right">
					<div class="dropdown-trigger">
						<button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
						<span">choose operation</span>
						<span class="icon is-small">
							<i class="fas fa-angle-down" aria-hidden="true"></i>
						</span>
						</button>
					</div>
					<div class="dropdown-menu" id="dropdown-menu4" role="menu">
						<div class="dropdown-content">
						<div class="dropdown-item">
							<p>simplify</p>
						</div>
						<div class="dropdown-item">
							<p>factor</p>
						</div>
						<div class="dropdown-item">
							<p>derive</p>
						</div>
						<div class="dropdown-item">
							<p>integrate</p>
						</div>
						<div class="dropdown-item">
							<p>find zeroes</p>
						</div>
						<div class="dropdown-item">
							<p>find tangent</p>
						</div>
						<div class="dropdown-item">
							<p>area under curve</p>
						</div>
						<div class="dropdown-item">
							<p>cosine</p>
						</div>
						<div class="dropdown-item">
							<p>sine</p>
						</div>
						<div class="dropdown-item">
							<p>tangent</p>
						</div>
						<div class="dropdown-item">
							<p>inverse cosine</p>
						</div>
						<div class="dropdown-item">
							<p>inverse sine</p>
						</div>
						<div class="dropdown-item">
							<p>inverse tangent</p>
						</div>
						<div class="dropdown-item">
							<p>absolute value</p>
						</div>
						<div class="dropdown-item">
							<p>logarithm</p>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-half">
				<input class="input" type="text" placeholder="input expression to operate">
			</div>
			<div class="column is-one-quarter">
				<button class="button">get results</button>
			</div>
		</div>
		

		</div>
	</div>



</body>
</html>