@import './bulma.css';


html {
  background-color:rgb(24, 48, 68);
  color: white;
  height: 100%;
  overflow: hidden;
}

/* Show the dropdown menu on hover */
.dropdown-content {
  display: block;
  height: auto;
  overflow-y: scroll;
}

/*
/* Dropdown Button 
.drop-button {
  background-color: rgb(24, 48, 68);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: white;
}



/* Dropdown Content (Hidden by Default) 
.operations {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown 
.operations p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover 
.operations p:hover {background-color: #ddd;}



/* Change the background color of the dropdown button when the dropdown content is shown 
.operation-dropdown:hover .drop-button {background-color: rgb(24, 48, 68);}

*/


